{% extends 'ecomm_app/base.html' %}

{% block content %}
<body>
  <div class="container">
    
    <div class="items">
      {% if products %}
      {% for product in products %}
        {% if product.stock > 0 %}
          <div class="item">
            <div class="image-container">
              <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
            <div class="item-info">
              <h2 class="item-title">{{ product.name }}</h2>
              <p class="item-price">${{ product.price }}</p>
              <p class="item-description">{{ product.description }}</p>
              <p class="item-age">Product Age: {{ product.age }}</p>
              <p class="item-seller">Name: {{ product.seller }}</p>
              <button class="btn btn-primary"><a href="{% url 'product_detail' product.pk %}" class="btn-text">View</a></button>
              {% block product_ext %}{% endblock product_ext %}
            </div>
          </div>
          {% endif %}
      {% endfor %}
      {% else %}
        <p>No products available</p>
      {% endif %}
    </div>
    


  </div>


{% endblock content %}